
* {
    box-sizing: border-box
}
body {
    margin:0;
    padding:0;
}
header {
    display: block;
    width: 100%;
    position:fixed;
    background-color: transparent;
    padding:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-shadow: 0em 1em 0.1em black,
    0em 2em 0.1em black,
    0em 3em 0.1em black;
    text-align: right; 
    z-index: 2;
}
.surface {
    background-color:white;
    height: auto;
    width: 100%;
    padding: 30px;
    justify-content: center;
    z-index: 0;
}
.surface h3 {
    text-decoration-style: wavy;
}
/* 
.surface>div>p {
    transform: rotate(350deg);
    z-index: 1;

} 
 */
.surface>div>p:hover {
    color:pink;
}  
.friends {
    background-color:#F2D8F9;
    width: 100%;
    height: auto;
    padding: 30px;
}
.december {
    background-color:#E1B9EF;
    height: auto;
    width: 100%;
    display: flex;
}
.december>div>img:first-child {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 5px;
    padding: 5px;
}
.december>div>img:last-child {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 95px;
    padding: 5px;
    z-index: 1;
}
.fall {
    background-color:#FF8DC6;
    height: 300px;
    width: 100%;
}
.fall iframe {
    margin-top:50px;
    margin-left:10px;
    padding: 10px;
}
.lost {
    background-color:#EF5FA7;
    height: auto;
}
.carita {
    align-content: flex-end;
}
.intense {
    background-color:#00A2FF;
    height: auto;
    width: 100%;
    display: block;
}
.intense img {
    z-index: 0;
    position: absolute;
}
.deepIntensity {
    background-color:#0076BA;
    height: auto;
    width: 100%;
}
.carousel-inner {
    margin-top:5px;
}
.doubt {
    background-color:#D6D5D5;
    height: 100px;
    width: 100%;
}
.sad {
    background-color: black;
    height: auto;
    width: 100%;
    color:grey;
}
.sad p:hover {
    color: white;
    cursor: pointer;
}
.berlin {
    background-color:#004D7F;
    height: auto;
    width: 100%;
}
.mad {
    background-color:#660f60;
    background-image: url(https://webstockreview.net/images/clipart-rain-gif-transparent.gif);
    height: 100px;
    width: 100%;
}
.love {
    background-color:rgb(63, 9, 38);
    height: 100px;
    width: 100%;
}
.deep {
color: white;
font-family: fantasy;
background-color: black;
height: auto;
width: 100%;
background-image: url(https://media2.giphy.com/media/13USt1URETlUFG/source.gif);
background-size: cover;
z-index: 1;
}
.real {
    padding: 50%;
    z-index: 0;
    text-shadow: 15px 15px 0px white,
     -15px -15px 0px white;
}

@media (min-width:355px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black;
    }
    .surface {
        height: 3500px;
    }
}
@media (min-width:380px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black,
        0em 5em 0.1em black,
        0em 6em 0.1em black,
        0em 7em 0.1em black;
        
    }
    .surface {
        height: 2100px;
    }
    .december>div>img:first-child {
        position: absolute;
        width: 400px;
        height: 400px;
        margin-left: 60px;
        margin-top: 10px;
        padding: 10px;
    }
    .december>div>img:last-child {
        position: relative;
        width: 400px;
        height: 400px;
        margin-left: 90px;
        margin-top: 95px;
        padding: 5px;
        z-index: 1;
}
@media (min-width:400px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black,
        0em 5em 0.1em black,
        0em 6em 0.1em black,
        0em 7em 0.1em black,
        0em 8em 0.1em black,
        0em 9em 0.1em black;
    }
    .surface {
        height: 2100px;
    }
    .december>div>img:first-child {
        position: absolute;
        width: 500px;
        height: 500px;
        margin-left: 70px;
        margin-top: 5px;
        padding: 5px;
    }
    .december>div>img:last-child {
        position: relative;
        width: 500px;
        height: 500px;
        margin-left: 98px;
        margin-top: 200px;
        padding: 5px;
        z-index: 1;
}
@media (min-width:890px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black,
        0em 5em 0.1em black,
        0em 6em 0.1em black,
        0em 7em 0.1em black,
        0em 8em 0.1em black,
        0em 9em 0.1em black,
        0em 10em 0.1em black,
        0em 11em 0.1em black,
        0em 12em 0.1em black,
        0em 13em 0.1em black,
        0em 14em 0.1em black,
        0em 15em 0.1em black;
    }
    .surface {
        height: auto;
    }
    .december>div>img:first-child {
        position: absolute;
        width: 600px;
        height: 600px;
        margin-left: 200px;
        margin-top: 5px;
        padding: 5px;
    }
    .december>div>img:last-child {
        position: relative;
        width: 600px;
        height: 600px;
        margin-left: 510px;
        margin-top: 95px;
        padding: 5px;
        z-index: 1;
}
@media (min-width:1080px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black,
        0em 5em 0.1em black,
        0em 6em 0.1em black,
        0em 7em 0.1em black,
        0em 8em 0.1em black,
        0em 9em 0.1em black,
        0em 10em 0.1em black,
        0em 11em 0.1em black,
        0em 12em 0.1em black,
        0em 13em 0.1em black,
        0em 14em 0.1em black,
        0em 15em 0.1em black,
        0em 16em 0.1em black,
        0em 17em 0.1em black,
        0em 18em 0.1em black,
        0em 19em 0.1em black,
        0em 20em 0.1em black;
    }
    .surface {
        height: auto;
    }
    .imessage {
        display:inline-flex;
    }
    .december>div>img:first-child {
        width: 600px;
        height: 600px;
        margin-left:100px;
        padding: 5px;
    }
    .december>div>img:last-child {
        width: 600px;
        height: 600px;
        padding: 5px;
        margin-left: 800px;
}