
* {
    box-sizing: border-box
}
body {
    margin:0;
    padding:0;
}
header {
    display: block;
    width: 100%;
    position:fixed;
    background-color: transparent;
    padding:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-shadow: 0em 1em 0.1em black,
    0em 2em 0.1em black,
    0em 3em 0.1em black;
    text-align: right; 
    z-index: 2;
}
.surface {
    background-color:white;
    height: auto;
    width: 100%;
    padding: 30px;
    justify-content: center;
    z-index: 0;
}
/* 
.surface>div>p {
    transform: rotate(350deg);
    z-index: 1;

} 
 */
.surface>div>p:hover {
    color:pink;
}  
.friends {
    background-color:#F2D8F9;
    width: 100%;
    height: auto;
    padding: 30px;
}
.december {
    background-color:#E1B9EF;
    height: 300px;
    width: 100%;
    display: flex;
}
.december>div>img:first-child {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 5px;
    padding: 5px;
    border: white dashed 15px;
}
.december>div>img:last-child {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 95px;
    padding: 5px;
    border: white dashed 15px;
    z-index: 1;
}
.fall {
    background-color:#FF8DC6;
    height: 300px;
    width: 100%;
}
.fall iframe {
    margin-top:50px;
    margin-left:10px;
    padding: 10px;
}
.lost {
    background-color:#EF5FA7;
    height: 350px;
    width: 100%;
}
.carita {
    align-content: flex-end;
}
.intense {
    background-color:#00A2FF;
    height: 500px;
    width: 100%;
}
.intense img {
    z-index: 0;
    position: absolute;
}
.deepIntensity {
    background-color:#0076BA;
    height: 500px;
    width: 100%;
}
.carousel-inner {
    margin-top:5px;
}
.doubt {
    background-color:#D6D5D5;
    height: 100px;
    width: 100%;
}
.sad {
    background-color: black;
    height: 100px;
    width: 100%;
}
.berlin {
    background-color:#004D7F;
    height: 400px;
    width: 100%;
}
.mad {
    background-color:#991991;
    height: 300px;
    width: 100%;
}
.love {
    background-color:#99195E;
    height: 250px;
    width: 100%;
}
.deep {
background-color: black;
height: 570px;
width: 100%;
background-image: url(https://media1.giphy.com/media/26uf8tQf6WVQPxP9u/giphy.gif);
background-size: cover;
}

@media (min-width:355px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black;
    }
    .surface {
        height: 3500px;
    }
}
@media (min-width:400px) {
    header {
        text-shadow: 0em 1em 0.1em black,
        0em 2em 0.1em black,
        0em 3em 0.1em black,
        0em 4em 0.1em black,
        0em 5em 0.1em black;
    }
    .surface {
        height: 2100px;
    }
}